# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter/IPython files
.ipynb_checkpoints/